*{
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
}
.logo-picture{
    align-self: center;
    width: 60px;
    border: solid black 1px;
    border-radius: 10%;
}
body {
    background-color: rgb(236, 70, 70);
}
.header-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgb(0,0,0,0.5);
    padding: 10px;
    max-width: 100%;
    box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
    background: rgba(132, 7, 7, 0.068);
    flex-wrap: wrap;
}
.header-search{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    gap: 50px;
    align-items: center;
}
.navigation a{
   text-decoration: none;
}
.navigation-item{
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    background-color: rgba(52, 14, 3, 0.996);
    box-shadow: inset 1px 5px 8px rgb(77, 15, 7);
}
.navigation-item:hover{
    background-color: brown;
    transition: 0.7s;
    box-shadow: 6px 6px 5px rgb(62, 52, 10);
}
form{
    background-color: rgba(128, 128, 128, 0.521);
    width: 400px;
    height: 44px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: inset 0px 5px 10px rgb(230, 255, 230),
    0px 5px 10px rgb(225, 235, 225);
}
input{
    all: unset;
    font: 16px system-ui;
    color: rgb(4, 4, 4);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
::placeholder{
    color: rgb(0, 0, 0);
    opacity: 0.9;
}

.logo{
    align-items: flex-start;
}
.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    opacity: 0.9;
    margin-right: 10px;
    font-size: smaller;
    
}
.search-button:hover{
    transition: background-color 0.2s;
    background-color: rgb(199, 176, 176);
}

.login{
    display: flex;
    align-items: center; 
    
}
.login > button{
    padding: 5px 30px;
    border: none;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    background: rgb(252, 227, 227);
    box-shadow: 
    inset 0 5px 10px rgb(58, 17, 10),
    0 1px 1px rgb(60, 37, 7);
    text-shadow: 0 1px 1px rgb(255, 222, 222);
}
.login > button:hover{
    transition: background-color 0.5s;
    background-color:rgb(223, 223, 236);
    color: white;
}
.register{
    display: flex;
    align-items: center;
}
.register > button{
    padding: 5px 30px;
    border: none;
    border-radius: 6px;
    color: black;
    box-shadow: inset 0 5px 10px blue,
    0 1px 1px white;
}
.register >button:hover{
    transition: background-color 0.5s;
    background-color: brown;
    color: white;
}

.container{
    margin-top: 50px;
    min-height: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: space-between;
    background-color: rgb(207, 232, 254);
    padding: 20px;
    box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
    background: rgba(157, 76, 76, 0.883);
}
.main-panel{
 flex: 1;
}
.picture-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.picture-container img{
    width: 350px;
    height: 350px;
    opacity: 0.9;
    border-radius: 5px;
}
.picture-container img:hover{
    opacity: 1;
    box-shadow: 10px 20px 10px rgba(74, 3, 3, 0.587);
    transition: 0.4s;
}
.mid-dialog-container{
    display: flex;
    align-self: center;
    border: 2px solid rgb(223, 209, 208);
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    height: 70px;
    color: rgb(253, 253, 253);
    box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
    background: rgba(61, 41, 51, 0.883);
}

.index-footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: burlywood;
    justify-content: center;
}
.footer-text{
    align-self: center;
}

